<p id="notice"><%= notice %></p>

<p>
  <b>Movetype:</b>
  <%= @tuersensor.movetype %>
</p>

<p>
  <b>Time:</b>
  <%= @tuersensor.time %>
</p>


<%= link_to 'Edit', edit_tuersensor_path(@tuersensor) %> |
<%= link_to 'Back', tuersensors_path %>
