<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Raspberry Pi Birdbox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "styles" %>
  <script src='https://www.google.com/jsapi'></script>
</head>
<body>
	<div class="topline"><a href="/"><h1>Raspberry Pi Birdbox</h1></a></div>
	<div class="main">

	<%= yield %>

	</div>
</body>
</html>
